/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #accbd9;
  color: #184f68;
  font: 1em/1.5;
}

header {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
}

a {
  text-decoration: none;
}

/* =================================
  Form Element Styles
==================================== */

form {
  background: #85b5ca;
  padding: 0.875em 1.875em 1.875em;
}

fieldset,
legend,
button {
  border: none;
  padding: 0;
}

fieldset {
  margin-top: 1.5em;
}

legend,
button {
  font-size: 1.25em;
}

legend {
  border-top: 2px solid #679cb3;
  font-weight: 500;
  margin-bottom: 1.125em;
  padding-top: 0.5em;
}

input[type='text'],
input[type='email'],
legend {
  width: 100%;
}

label {
  color: #000;
  display: block;
  margin-bottom: 0.5em;
}

input,
select {
  margin-bottom: 1.125em;
}

input {
  background: #c1deeb;
  border: 2px solid #c1deeb;
  font-size: 1em;
  font-weight: 500;
  outline: none;
  padding: 0.8em;
}

input:focus {
  background: #fff;
  border-color: #5e97b0;
  transition: border-color 0.4s, background-color 0.4s;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
}

button {
  background: #22627e;
  color: #fff;
  cursor: pointer;
  margin: 1.25em 0 0.5em;
  padding: 0.55em 1.25em;
}

button:hover {
  background: #184c62;
}

.error-msg {
  color: #d32f2f;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 1.25em;
  margin-top: -0.8em;
}

.error-input,
.error-input:focus {
  border: 3px solid #d32f2f;
}

.error-label {
  color: #d32f2f;
}

/* =================================
  Page Styles
==================================== */

.container {
  margin: auto;
  max-width: 680px;
}

.shirt div {
  float: left;
  margin-right: 0.85em;
}

.interests input {
  margin-bottom: 0;
}

.credit-card {
  margin-top: 1.25em;
}

/* =================================
  Helper Classes
==================================== */

.is-hidden {
  display: none;
}

.clearfix::after {
  clear: both;
  content: ' ';
  display: table;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 679px) {
  header {
    padding: 2em 0;
  }

  button {
    width: 100%;
  }
}

@media (min-width: 680px) {
  header {
    padding: 4.65em 0 2.5em;
  }

  .col {
    float: left;
  }

  .col + .col {
    margin-left: 2.5%;
  }

  .col-3 {
    width: 23%;
  }

  .col-6 {
    width: 49%;
  }
}
